/* ==========================================================================
   #RESET
   ========================================================================== */

::selection {
  background: var(--color-background-selection);
  color: var(--color-text-default);
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl,
fieldset {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

a,
button {
  cursor: pointer;
}

b,
strong,
dfn {
  font-weight: var(--font-weight-bold);
}

img,
svg {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

button[disabled] {
  cursor: default;
}
