/* ==========================================================================
   #FONT
   ========================================================================== */

:root {
  --font-family: Viga, 'Helvetica Neue', helvetica, arial, sans-serif;
  --font-family-heading:
    PassionOne,
    'Helvetica Neue',
    helvetica,
    arial,
    sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}
